.fourby3 {
  background-color:#114080;
  width:1400px;
  height:100vh;
  position:relative;
  display: table;
  margin: 0 auto; /*https://stackoverflow.com/a/114549 */
}
body{

background-color:black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}