.fourby3 {
  background-color:#114080;
  width:1400px;
  height:75vw;
  max-width: 133vh;
  position:relative;
  display: table;
  margin: 0 auto; /*https://stackoverflow.com/a/114549 */
  text-align:center;
}
body{
font-family: "Comic Sans MS", cursive, sans-serif;
background-color:black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p,a {
color:white;
font-size:5vw;

}

.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}