.fourby3 {
  background-color:#114080;
  width:1400px;
  height:75vw;
  max-width: 133vh;
  position:relative;
  display: table;
  margin: 0 auto; /*https://stackoverflow.com/a/114549 */
  text-align:center;
  display:none
}
body{
font-family: "Comic Sans MS", cursive, sans-serif;
background-color:#242424;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p,a {
color:white;
font-size:5vw;
margin-top:0;

}
h1{

  margin-top:0;
  color:white;
  font-size:7vw;
}

#intro1 {
  --animate-duration: 3.5s;
}

#intro2 {
  --animate-duration: 8s;
  animation-delay: 2s;
}

.introwarning{
display:flex;
text-align:center;
justify-content:center;

}